@font-face {
    font-family: 'Amonia';
    src: url(AMORIA.otf); 
}


body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6daf8;
}
h1{
    font-family: 'Amonia';
    color: #ffffff;
    font-size: 100px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-family: 'Amonia';
    color: #000000;
    font-size: 40px;
    margin-top: 20px;
    padding-left: auto;
    padding-right: auto;
    
}
h3 {
    text-align: center;
    font-family: 'Amonia';
    color: #000000;
    font-size: 20px;
    margin-top: 20px;
    padding-left: auto;
    padding-right: auto;
    letter-spacing: 3px;
}

.introP {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 40px;
}
.intro {
    text-align: center;
    padding: 50px;
    background-color: #652bee;
}

img {
    border-radius: 20px;
    max-width: 100%; 
    max-height: 400px; ;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.box-model {
    font-size: 20px;
    width: 80%;
    height: auto;
    background-color: #b194f7;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
}

.box-model:hover {
    background-color: #a07de0;
}


nav {
    background-color: #b194f7;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    font-weight: bold;
}

